@(message: String)

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Tekken コンボ</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--   <link rel="stylesheet" type="text/css" href="routes.Assets.at("stylesheets/index.css")"> -->
</head>
<body>
    <div class="container">
        <form class="pure-form">
            <fieldset>
                <input type="text" placeholder="隼, hayabusa" />
                <!-- <input type="password" placeholder="Password" /> -->

                <!-- <label for="remember"> -->
                <!--     <input id="remember" type="checkbox"> Remember me -->
                <!-- </label> -->

                <button type="submit" class="pure-button pure-button-primary">確定</button>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript" src="@routes.Assets.versioned("bower_components/jquery/jquery.js/")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bower_components/jquery-autocomplete/jquery.autocomplete.js")"></script>
</body>
